/temp
/_site
/node_modules
/package-lock.json
/.cache
/bmad
/v4-backup
/.github
/.gemini
/.augment
/mcp-servers
/.playwright-mcp
/old
/project_docs/design_screenshots
/temp_screenshots
.goosehints
/.clj-kondo/**
/.lsp/**